{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue à DreamTours</h1>
        <p>Notre agence vous emmène à des destinations de rêve</p>
    </div>
{% endblock %}
