{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block body %}

<div class="container">

    <h2>Destinations : </h2>
    <div class="card mb-3">
      <img class="card-img-top" 
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Kairouan%27s_Great_Mosque_courtyard.jpg/220px-Kairouan%27s_Great_Mosque_courtyard.jpg">
      <div class="card-body">
        <h5 class="card-title">el kairouan , Tunisie</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div
    </div>
    <div class="card mb-3">
      <img class="card-img-top" src="https://thumbs.dreamstime.com/b/marrakech-morocco-city-view-horizon-atlas-mountains-36590338.jpg">
      <div class="card-body">
        <h5 class="card-title">Marrakech, Maroc</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div
    </div>
{% endblock %}
